.resume {
    height: 100vh;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color:  #15023a;
}

.resume__title {
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.resume__container {
    display: flex;
    justify-content: center;
}

.resume__subtitle {
    margin: 60px 200px;
}

.resume__presentation {
    font-size: 2rem;
    font-weight: 500;
}

.resume__sections {
    display: flex;
    position: absolute;
    margin-top: 90px;
    margin-left: -70px;
    
}

.resume__items {
    display: flex;
    margin-left: 100px;
    line-height: 50px;
}

.resume__items::before {
   top: 35px;
   left: 20px; 
   width: 1px;
   height: 90%;
   content:"";
   position: relative;
   background-color: #15023a;
}

.resume__education {
   margin-left: 3px;
}

.resume__diploma {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
}

.resume__school {
    font-size: .9rem;
    font-weight: 500;
}

.resume__date {
    margin-top: -15px;
    font-size: .9rem;
    font-weight: 200;
}

.resume__education::before {
    top: 18px; 
    right: 33px;
    width: 18px;
    height: 18px;
    display: block;
    content: "";
    position: relative;
    border-radius: 50%;
    background-color: #e50914;
 }

 @media screen and (max-width: 768px) and (max-height: 1024px) { 
     .resume {
        margin-top: 50%;
        margin-bottom: 40%;
     }
    .resume__title {
        padding-top: 30px;
    }
    .resume__container {
        width: 10%;
        height: 100vh;
    }
    .resume__subtitle {
        margin: 10% -100% 20% 550%;
    }
    .resume__presentation {
        font-size: 1.5rem;
        position: absolute;
    }
    .resume__sections {
        margin-left: 70%;
        margin-top: 8%;
    }
    .resume__items {
        margin-left: 150px;
    }
    .resume__diploma {
        font-size: .8rem;
    }
    .resume__school {
        font-size: .7rem;
    }
    .resume__date {
        font-size: .6rem;
        margin-top: -25px;
        margin-right: -70%;
    }
 }

 @media screen and (max-width: 480px) and (max-height: 920px) {
    .resume {
        margin-top: 140%;
        margin-bottom: 80%;
     }
     .resume__sections {
        margin-left: 55%;
        margin-top: 8%;
    }
 }