.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 3;
}

.navbar__container {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.navbar__logo {
    margin: 0 40px 12px 15px;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:  #15023a;
    letter-spacing: .5rem;
    cursor: pointer;
}

a.navbar__logo {
    color:  #15023a;
}


/*SEMANTIC UI LOGO START*/
.navbar__gitlogo {
    margin: 0 0 5px 30px;
}


.navbar__linkedinlogo {
    margin: 0 0 5px 30px;
}
/*SEMANTIC UI LOGO END*/


/*MENU START*/
.navbar__menu {
   margin-left: 320px;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__item {
    margin-left: 30px;
   
}

.navbar__link {
    color:  #15023a;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
}

a.navbar__link {
    color:  #15023a;
}

/* .navbar__link:hover {
    font-size: 2rem;
    transition: all 0.8s ease;
    text-decoration: underline #15023a;
} */
/*MENU END*/


/* UNDERLINE NAVBAR MENU START */
.underline__animation {
    position: relative;
    top: 22px;
    right: 705px;
    width: 78px;
    height: 3px;
    background-color:#15023a;
    transition: .5s;
}

li:nth-child(2):hover ~ .underline__animation {
    background-color:#15023a;
    transform: translate(105px);
    width: 120px;
}

li:nth-child(3):hover ~ .underline__animation {
    background-color:#15023a;
    transform: translate(250px);
    width: 180px;
}

li:nth-child(4):hover ~ .underline__animation {
    background-color:#15023a;
    transform: translate(460px);
    width: 110px;
}

li:nth-child(5):hover ~ .underline__animation {
    background-color:#15023a;
    transform: translate(600px);
    width: 105px;
}
/* UNDERLINE NAVBAR MENU END */

